a.rent-btn{
	text-decoration: none;
}

.rent-btn{
	font-family: "QuickSand-Bold";
	color: #fff;
	background: transparent;
	border-width: 2px;
	border-style: solid;
	border-color: #4f5dec;
	position: relative;
	margin: 1em;
	padding: 8px 15px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.rent-btn:hover{
	color: #fff;
	background-color: #4f5dec;
	border-color: #4f5dec;
}

.rent-btn:before,
.rent-btn:after{
	content: '';
	display: block;
	position: absolute;
	border-color: #4f5dec;
	box-sizing: border-box;
	border-style: solid;
	width: 1em;
	height: 1em;
	-webkit-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
}

.rent-btn:before{
	top: -6px;
	left: -6px;
	border-width: 2px 0 0 2px;
	/* z-index: 5; */
}

.rent-btn:after{
	bottom: -6px;
	right: -6px;
	border-width: 0 2px 2px 0;
}

.rent-btn:hover:before,
.rent-btn:hover:after{
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	border-color: #4f5dec;
}

.purple.rent-btn{
	color: #4f5dec;
}

.purple.rent-btn:hover{
	color: #fff;
	background-color: #4f5dec;
	border-color: #4f5dec;
}